*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(207, 207, 207);
}

#principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 90vh;
    width: 100%;
}

#title{
    text-align: center;
}

nav{
    background-color: black;
    height: 70px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu{

    list-style: none;
    text-align: center;
    color: white;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
}

span{
    text-align: justify;
    margin-top: 20px;
    width: 70%;
    height: 100px;
    font-size: 20px;
}

#publicidad{
    position: absolute;
    display:none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    background-color: rgb(220, 220, 9);
    border-radius: 10px;
    height:400px;
    width: 250px;
    margin-top: 20px;
    top: 120px;
    right: 10px;
}

.visible{
    display: flex !important; 
}
.invisible{
    display: none !important;
}

#ok{
    margin-top: 20px;
    width: 100px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}