*{
    margin: 0;
    padding: 0;
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p{
    font-family: 'Merriweather', serif;
    padding: 10px;   
    text-align: center;
}
#principal{
    padding: 5%;
    margin: auto;
    width: 60%;
    height: 90vh;

}
#cabecera{
    display: flex;
    justify-content: space-between; 
    width: 100%;
    height: 40%
}
#cabecera-izquierda{
    width: 40%;
    height: 100%;
    
}
#cabecera-derecha{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#fotos-1{
    display: flex;    
    height: 50%;
}
#fotos-2{
    display: flex;
    height: 100%;
}
#fotos-3{
    display: flex;
    height: 100%;
}
#texto{
    width: 100%;
    height: 50%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
#centro{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}
#centro-arriba{
    width: 100%;
    height: 50%;
}
#centro-abajo{
    width: 100%;
    height: 50%;
}
#foto1{
   width: 100%;
   height: 100%;
   overflow: hidden;
   transition: 0.3s;
  
}
#foto2{
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: 0.3s;
}
#foto3{
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: 0.3s;
}
#foto4{
    width: 33.33%;
    height: 100%;
    overflow: hidden;
    transition: 0.3s;
}
#foto5{
    width: 33.33%;
    height: 100%;
    overflow: hidden;
    transition: 0.3s;
}
#foto6{
    width: 33.33%;
    height: 100%;
    overflow: hidden;
    transition: 0.3s;
}

#foto7{
    width: 66.67%;
    height: 100%;
    overflow: hidden;
    transition: 0.3s;
}
#foto8 {
    width: 33.33%;
    height: 100%;
    overflow: hidden;
    transition: 0.3s;
}
#pie{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#foto1:hover{
    transform: scale(1.5);
    border-radius: 30%;
}
#foto2:hover{
    transform: scale(1.5);
    border-radius: 100%;
}
#foto3:hover{
    transform: scale(1.5);
    border-radius: 100%;
}
#foto4:hover{
    transform: scale(1.5);
    border-radius: 100%;
}
#foto5:hover{
    transform: scale(1.5);
    border-radius: 100%;
}
#foto6:hover{
    transform: scale(1.5);
    border-radius: 100%;
}
#foto7:hover{
    transform: scale(1.5);
    border-radius: 100%;
}
#foto8:hover{
    transform: scale(1.5);
    border-radius: 100%;
}