*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
}

body{
   background-image: url("https://images.gestionaweb.cat/2486/img-1280-720/architecture-gf0426e69e-1920-1765123.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;

}

#logo{
    width: 100px;
    height: 100px;
}
.logo{
    width: 100px;
    height: 100px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    position: fixed;
    margin-left: 20%;
    margin-top: 20px;
    width: 80%;
}

.cerrar-sesion{
    width: 250px;
    text-align: center;
    margin-right: 20%;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: #00233B;
    padding: 15px;
}


#main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    margin: auto;
    width: 80%;
    flex-wrap: wrap;
    
    gap: 10px;
    padding-top: 150px;
}

#Mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 45%;
    height: 45%;
}

#seccion-piso{
    display: flex;
    flex-direction:center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


#img{
    width: 50%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}
#info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#text{
    color: black;
    width: 80%;
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 20px;

}




#decoracion{
    position: fixed;
    bottom: -150px;
    right: +100px;
    transform: translateX(50%);
    width: 700px;
    height: 700px;
    border-radius:50%;
    background: linear-gradient(180deg, #00233B 0%, #EA281C 100%);
    z-index: -1;
}
#footer{
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    right: 50px;
    height: 100px;
    bottom: 10px;
    gap: 10px;
}

.footer-link{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}



#boton{
    background:red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
}
#boton:hover{
    background: black;
    color: white;
    cursor: pointer;
}






p{
    font-size: 12px;
}