* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 20px;
    margin-bottom: 50px;
    background-image: url(./img/IMG_0543.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position: bottom;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(5px);

}

#principal {
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#foto {
    width: 120px;
    height: 120px;
    background: url(./img/Foto1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 10px saddlebrown;
    transition: 0.3s;
}

#foto:hover {
    width: 150px;
    height: 150px;
    background: url(./img/Foto1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 10px rgb(36, 7, 7);
    animation: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#titulo {
    font-family: Pacifico;
    font-size: 30px;
    color: rgb(36, 7, 7);
}

#center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#center-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#center-center {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

#center-down {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
}

#center-head span {
    width: 60%;
    color: rgb(0, 0, 0);
    font-size: 90%;
    font-family: Varela Round;
}

.datos {
    width: 100%;
    background: rgba(10, 9, 9, 0.453);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
    color: rgb(36, 7, 7);
    font-size: 90%;
    font-family: Varela Round;
}

.datos p {
    margin-top: 20px ;
    text-align: left;
    color: white;
    font-size: 100%;
    font-family: Varela Round;
}

.datos h3 {
    text-align: center;
    color: white;
    font-family: Varela Round;
}
.intereses  {
    width: 100%;
    padding: 1%;
    background: rgba(10, 9, 9, 0.453);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    margin: 1%;
    color: rgb(36, 7, 7);
    font-size: 90%;
    font-family: Varela Round;
}
.intereses p {
    
    text-align: left;
    color: white;
    font-size: 80%;
    font-family: Varela Round;
}


#Inter{
    width: 100%;

}


.intereses h3 {
    text-align: center;
    color: white;
    font-family: Varela Round;
}

.icons{
    width: 100%;
    height: 100%;
   font-size: 150%;
   color:white;
   transition: 0.3s;
}

.Descripcion{
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 37.5%;
    margin: 6.25%;
    float: left;
    
    
}
.Descripcion p{
    text-align: center;
    font-size:90%;
    overflow: hidden;
    visibility: hidden;
    transition: 0.3s;
}
.Descripcion:hover p{
    overflow: visible;
    visibility: visible;
}
 

#contacto {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Varela Round;

}

#contacto h3 {
    font-family: Varela Round;
    color: white;
}

#contacto form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    color: white;
    text-align: center;
    font-family: Varela Round;
}

.txt {
    font-family: Varela Round;
    width: 50%;
    padding: 1%;
    border-radius: 5px;
    border: 0px;
    background: rgba(255, 255, 255, 0.453);
    -webkit-backdrop-filter: blur(10px);
    color: white;
}

.txta {
    font-family: Varela Round;
    width: 40%;
    padding: 1% 1% 1%;
    border: 0px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.453);
    -webkit-backdrop-filter: blur(10px);
    color: white;
}

#btn {
    width: 30%;
    height: 30px;
    font-size: 100%;
    background-color: rgb(36, 7, 7);
    color: white;
    font-family: Varela Round;
    border-radius: 5px;
    border: 0px;
    transition: 0.3s;
    cursor: pointer;
}
#btn:hover {
    width: 15%;
    height: 35px;
    background-color: rgb(36, 7, 7);
    color: white;
    font-family: Varela Round;
    border-radius: 5px;
    border: 0px;
}

input::placeholder {
    text-align: left;
    color: white;
    font-family: Varela Round;
    font-size: 100%;
}

textarea::placeholder {
    text-align: left;
    color: white;
    font-family: Varela Round;
    font-size: 100%;
    
}

textarea {
    resize: none;
    
}
